:root {  
  --line-border-fill: #4f606b;  
  --line-border-empty: #e0e0e0;  
 } 
 body {
  background-color: #d1cfcf !important;
}

* {
  box-sizing: border-box;
  text-decoration: none !important;
  scroll-behavior: smooth;
}

#regForm fieldset {
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
  background-color: #eeecec !important;

}
#regForm fieldset:not(:first-of-type) {
  display: none;
}
#regForm .action-button:hover,
#regForm .action-button:focus {
  box-shadow: 0 0 0 2px #f0eded, 0 0 0 3px #ebebe8;
}
.progress-container {  
  display: flex;  
  justify-content: space-between;  
  position: relative;  
  margin-bottom: 30px;  
  max-width: 100%;  
  width: 350px;  
 }  
 .progress-container::before {  
  content: '';  
  background-color: var(--line-border-empty);  
  position: absolute;  
  top: 50%;  
  left: 0;  
  transform: translateY(-50%);  
  height: 4px;  
  width: 100%;  
  z-index: -1;  
 }  
 .progress {  
  background-color: rgb(126, 125, 125) !important;  
  position: absolute;  
  top: 50%;  
  left: 0;  
  transform: translateY(-50%);  
  height: 4px;  
  width: 0%;  
  z-index: -1;  
  transition: 0.4s ease;  
 }  
 .circle {  
  background-color: #fff;  
  color: #999;  
  border-radius: 50%;  
  height: 30px;  
  width: 30px;  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  border: 3px solid var(--line-border-empty);  
  transition: 0.4s ease;  
 }  
 .circle.active {  
  border-color: var(--line-border-fill);  
 } 

.rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.rotate.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-family: Roboto, "Font Awesome 5 Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-family: Roboto, "Font Awesome 5 Pro", sans-serif;
}

.form-control-plaintext,.newbolded {
  font-weight: bold !important;
}


#inputinialginateconc,
#inputalgsodcont,
#inputalgibiccont,
#inputinirgdconc,
#inputrgdsodcont,
#inputrgdbiccont,
#inputfibsodcont,
#inputfibbiccont,
#inputcolacidconc,
#inputconcbicar,
#inputfinbicarb {
  background-color: rgba(185, 236, 181, 0.438) !important;
}

#inputsubstrateman {
  background-color: beige !important;
}

#inputinirgdcont,
#inputinicolconc {
  background-color: rgba(247, 108, 108, 0.589) !important;
}

.alginateError,
.rgdError,
.iniFibError,
.finFibError,
.collagenError {
  color: red;
  display: none;
}

.errorActive {
  background-color: rgba(245, 207, 207, 0.575) !important;
  outline: solid 2px red;
}



@media (max-width: 1120px) {
  #regForm fieldset {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 840px) {
  #regForm fieldset {
    width: 120%;
    margin: 0 auto;
    left: -10%;
  }
  @media (max-width: 640px) {
    #regForm fieldset {
      width: 140%;
      margin: 0 auto;
      left: -20%;
    }
    h3{
      font-size: 1.25rem !important;
    }
}
@media (max-width: 460px) {
  #regForm fieldset {
    width: 180%;
    margin: 0 auto;
    left: -35%;
  }
  h1{
    font-size: 1.85rem!important;
  }
}
@media (max-width: 460px) {
  #regForm fieldset {
    width: 210%;
    margin: 0 auto;
    left: -55%;
  }
 
}
}
/*# sourceMappingURL=style.css.map */
